/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/.deps/
/csv2html
/csv2html.plist/
/csv2html.t2t
/cathtml
/cathtml.plist/
/cathtml.t2t
/hexsed
/hexsed.plist/
/hexsed.t2t
/csv2anki
/csv2anki.plist/
csv2anki.t2t
/Makefile
/stamp-h1
/test*
/updcfg.sh
/csv2html.xml
/makefile.opt
/Testbuild
/nooptim.sh
/td*/
/cnooptim.sh
/zMakefile.am
inithtconvert.sh

src/Hexsed/*.o
src/Utils/*.o
*.Po
